:root {
  --color-highlight: #fb0000;
}

.tg-time-discount {
  color: var(--tg-theme-button-color, #0a84ff);
  background-color: rgba(var(--tg-theme-button-color, #0a84ff), 0.5);
}
.tg-time-discount::before {
  content: "";
  position: absolute;
  width: 280px;
  padding: 8px;
  top: 4px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--tg-theme-button-color, #0a84ff);
  opacity: 0.1;
  border-radius: 16px;
  border: 2px solid var(--tg-theme-button-color, #0a84ff);
}
.tg-time-discount::after {
  content: "";
  position: absolute;
  width: 280px;
  padding: 8px;
  top: 4px;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  border-radius: 16px;
  border: 2px solid var(--tg-theme-button-color, #0a84ff);
}
.swiper {
  width: 100%;
  height: 270px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--tg-theme-bg-color, #fff);
  width: 90%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: cover;
  height: 230px;
  object-fit: cover;
}
