@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--tg-theme-bg-color);
  color:var(--tg-theme-text-color) ;
}

p{
  color: var(--tg-theme-hint-color,#475467);
}
.tg-button{
  background-color: var(--tg-theme-button-color,#0A84FF);
}
.tg-button-text{
  color: var(--tg-theme-button-color,#0A84FF);
}
.hr{
  background-color: var(--tg-theme-hint-color,#EAECF0);
}
h2{
  filter: brightness(0.6);
  color: var(--tg-theme-hint-color,#475467);
}
.blur-effect {
  height: 100vh;
  overflow: hidden;
}
.background-dark{
  background-color: #000;
}