@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--tg-theme-bg-color);
  color:var(--tg-theme-text-color) ;
}

p{
  color: var(--tg-theme-hint-color,#667085);
}
.tg-button{
  background-color: var(--tg-theme-button-color,#0A84FF);
}
.tg-button-text{
  color: var(--tg-theme-button-color,#0A84FF);
}
hr{
  opacity: 0.7;
  color:#667085;
}
